<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Risky Travel</title>
    </head>

    <body>

        <header>
            <div class="">
                Risky Travel 
            </div>
            <div class="">
                navigation
            </div>
        </header>
        <div>
            <h1 id="title">Not All Who Wander Are Lost (Except Me)</h1>
        </div>
        <main>
            <section>
                <form class="inputArea" onsubmit="return Main.handleSubmit(event)">
                    <input id="inputCity" type="text" name="input" value="" placeholder="city">
                    <input id="inputPostalCode" type="text" name="input" value="" placeholder="postal code">
                    <input id="inputCountry" type="text" name="input" value="" placeholder="country code (ex: us)">
                    <input id="inputDate" type="text" name="input" value="" placeholder="date (MM-DD-YYYY)">
                    <input id="button" type="submit" name="" value="yes pls tell me">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p id="weather"></p>
                    <img id="image">
                </div>
            </section>
        </main>

        <footer>
            <p>Weird weather we're having, eh?</p>
        </footer>
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->
    </body>
</html>
